extends layout
block content
  .container-fluid.text-center
    .row
      .col-md-3.col-md-offset-5.loginpan
        .login-panel.panel.panel-default.loginpan1
          .panel-heading
            h3.panel-title #{page_title}
          .panel-body
            form(role="form", action="/updatebook", method="post")
              fieldset
                .form-group
                  input.form-control(type="hidden", name="id", class="form-control" value='#{data[0].id}' required)
                  input.form-control(type="text", placeholder="Book Name", name="bookname", class="form-control" value='#{data[0].bname}' required)
                .form-group
                  input.form-control(type="text", placeholder="ISBN Code", name="isbncode", class="form-control" value='#{data[0].isbncode}' required)
                .form-group
                  input.form-control(type="text", placeholder="Catalogue", name="catalogue", class="form-control" value='#{data[0].catalogue}' required)                 
                button(class="btn btn-lg btn-success btn-block",type="submit",value="Submit") Submit

